{{#layout}}
    <div id="contents">
        <form id="new_game_form">
            <label for="player_name">Your name:</label>
            <input id="player_name" type="text" />
            <div>
                <input type="submit" value="Play a game" />
            </div>
        </form>
    </div>

    <script>
        
        $("#new_game_form").submit(function(event) {
            var playerName = $("#player_name").val();

            if (!playerName) {
                alert("Enter a player name.");
            } else {

                $.ajax({
                    url : `/api/join?playerName=${playerName}`
                }).done(function(data, textStatus, jqXHR) {
                    console.log(data);

                    window.location.href = `/game?playerId=${data}`;
                });
            }
            event.preventDefault();
        });
    </script>
{{/layout}}
{{>layout}}
